DB_HOST=localhost
DB_PORT=5432
DB_NAME=obar
DB_USER=obar_user
DB_PASSWORD=obar_pass

OPENROUTESERVICE_API_KEY=api_key_here
NOMINATIM_BASE_URL=https://nominatim.openstreetmap.org
OSRM_BASE_URL=https://router.project-osrm.org
